<% provide(:title, 'Help') %>

<div class="mainCont">
    
    <h1>Ways to Contact Us: </h1>
    <br>
    <p>Address + google map location</p>
    <br>
    <p>Maybe a form to send us questions/queries</p>
    <br>
    <p>FAQ</p>
    
</div>
